*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    font-weight: none;
}


.main-header {
    float: left;
    clear: both;
    width: 100%;
    background: #000033;
}

.main-header .logo{
    float: left;
    widows: 20%;
    margin: 50px 50px 50px 10%;
}

.main-header .search{
    margin: auto;
    float: right;
    clear: right;
    padding: 20px;
    margin-right: 15%;
    width: 600px;
}

.main-header .menu-top{
    background: #000066;
    margin-bottom: 30px;
    margin-right: 15%;
    
    float: right;
    clear: right;
}

.main-header .list-top{
    list-style: none;
}

.menu-top .list-top .item-top{
   float: left;
   margin: 5px;
}

.list-top .item-top a{
    color: #fff;
    text-decoration: none;
 }

 .list-top .item-top a:hover{
    background: #000099;
    text-decoration: none;
}

.menu{
    height: 60px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 50px;
    background: #000066;
    color: #fff;
}

.menu .menu-list{
    list-style: none;
    height: 100%;
}

.menu .menu-list .menu-list-item{
    float: left;
    width: 20%;
    height: 100%;
    
    text-align: center;
}

.menu-list .menu-list-item a{
    color: #fff;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    display: block;
    text-decoration: none;
}

.menu-list .menu-list-item a:hover{
    background: #000099;
    text-decoration: none;
}

.main{
    width: 80%;
    margin: auto;
}
.main .main-d-image{
    float: left;
    width: 300px;
}

.main .main-d h2{
    font-size: 24px;
    padding-bottom: 10px;
}

.main .main-d a{
    color: #000;
    font-size: 24px;
}

.main .main-d p{
    margin-bottom: 10px;
}

.news{
    clear: both;
}
.news .news-product{
    float: left;
    width: calc(100%/3);
    text-align: center;    
    
}


.news h2{
    padding: 30px 0 10px 0;
    font-size: 24px;
    margin: 10px 0;
    width: 100%;
    float: left;
    clear: both;
}



.best-seller .best-seller-product{
    float: left;
    width: calc(100%/3);
    text-align: center;    
    
}

.best-seller h2{
    margin: 30px 0 10px 0;
    font-size: 24px;

    width: 100%;
    float: left;
    clear: both;
}

.main-footer{
    float: left;
    clear: both;
    padding: 10px 10% 10px 10%;
    margin-top: 20px;
    background: #ccc;
    width: 100%;
}

.main-footer ul{
    list-style: none;
}

.main-footer a{
    color: #000;
    text-decoration: none;
}

.main-footer .institutional{
    float: left;
    width: calc(80%/3);
}
.main-footer .account{
    float: left;
    width: calc(80%/3);
}
.main-footer .newsletter{
    float: left;
    width: calc(80%/3);
}

.main-footer .follow{
    float: left;
    width: calc(80%/3);
}

.newsletter .newsletter-form .newsletter-input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #000;
}

.follow{
    float: left;
}

.follow .facebook{
    float: left;
    margin-left: 10px;
}

.follow .twitter{
    float: left;
}

.end{
    float: left;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    background: #000;
}